.container {
  padding: 29px 46px 50px;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @media (max-width: 515px) {
    padding: 24px;
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.departmentTitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  @media (max-width: 515px) {
    font-size: 18px;
    line-height: 24px;
  }
  @media (max-width: 405px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.delimiter {
  margin-top: 22px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  width: 100%;
}

.label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  margin-top: 20px;
  color: #ffffff;
  text-align: left;

  &:nth-child(1) {
    flex-grow: 4;
  }
  &:nth-child(2) {
    flex-grow: 4;
    margin: 20px 20px 0;
  }
  &:nth-child(3) {
    flex-grow: 1;
    text-align: right;
  }

  @media (max-width: 515px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (max-width: 405px) {
    font-size: 12px;
    line-height: 16px;
  }
  @media (max-width: 360px) {
    font-size: 10px;
    line-height: 14px;
  }
}
