@import "variables";

@font-face {
  font-family: "Kinder Boys";
  src: url("../assets/fonts/KinderBoys.otf");
}
@font-face {
  font-family: "Beaufort";
  src: url("../assets/fonts/BeaufortHeavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Beaufort";
  src: url("../assets/fonts/BeaufortMedium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Beaufort";
  src: url("../assets/fonts/BeaufortRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body,
html {
  color: $text-color;
}

body {
  margin: 0;
  background-color: $app-bg;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  color: $text-color;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
  outline: none;
}

// For prevent whitespace under these elements
img,
svg {
  vertical-align: top;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mainArea {
  overflow-y: auto;
  height: calc(100vh - 80px);
  width: 100%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mainArea::-webkit-scrollbar {
  display: none;
}
