@import "variables";

// Text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// Images

.object-fit-cover {
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

//Position

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-only {
  display: flex;
  justify-content: space-between;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Color

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.secondary-color-bg {
  background: $secondary-color;
}

.text-color {
  color: $text-color;
}

.chrome-picker {
  box-shadow: none !important;
}

// display
.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-0 {
  flex-grow: 0;
}

.alignEnd {
  align-items: flex-end;
}
.alignCenter {
  align-items: center;
}

.m0auto {
  margin: 0 auto;
}

.overflowHidden {
  overflow: hidden !important;
}
