@import "styles/variables";
@import "styles/mixins";

.container {
  @include header-offset;

  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $secondary-color;
  padding-top: 35px;
  padding-bottom: 35px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  overflow-y: auto;

  transition: all 0.3s ease-in-out;

  @media (max-width: 1360px) {
    position: fixed;
    z-index: 14;
    transform: translateX(-100%);
  }

  @media (max-width: 420px) {
    max-width: 100vw;
  }
}

.container::-webkit-scrollbar {
  display: none;
}

.sideBarOpen {
  @media (max-width: 1360px) {
    transform: translateX(0);
  }
}

.noOffset {
  height: 100vh;
}

.headerButtonsContainer {
  display: flex;
  flex-direction: column;
}
