@import "styles/variables";

.container {
  padding: 0 50px;
  position: relative;
  z-index: 15;

  height: 80px;

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (max-width: 350px) {
    padding: 0 10px;
  }
}

.logoContainer {
  @media (max-width: 600px) {
    margin: 0 auto;
  }
  @media (max-width: 385px) {
    margin: 0 0 0 auto;
  }
}

.logoImg {
  width: 56px;
  height: 56px;

  //@media (max-width: 767px) {
  //  width: 56px;
  //  height: 56px;
  //}
  @media (max-width: 385px) {
    width: 48px;
    height: 48px;
  }
}

.logoText {
  font-family: "Kinder Boys", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 45px;

  margin-left: 14px;

  @media (max-width: 767px) {
    font-size: 50px;
    line-height: 45px;
    margin-left: 20px;
  }

  @media (max-width: 385px) {
    font-size: 48px;
    line-height: 52px;
    margin-left: 15px;
  }
}

.burger {
  width: 30px;
  height: 25px;
  margin-right: 18px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    position: relative;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 7px;

    transition: all 0.4s linear;
    transform-origin: left;
  }
}

.burgerActive {
  span:nth-child(1) {
    transform: rotate(45deg) translateY(1px);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: rotate(-45deg);
  }
}
