@import "styles/variables";
@import "styles/spacing";

.container {
  padding: 18px 36px 15px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
}

.squaredBorders {
  clip-path: polygon(
    5px 0,
    calc(100% - 5px) 0,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0 calc(100% - 5px),
    0 5px
  );
}

.blue {
  background-color: $blue-color;
}

.text {
  font-family: $font-family-title;
  font-size: 17px;
  line-height: 17px;
}
