@import "styles/mixins";

.mainArea {
  @include header-offset;

  overflow-y: auto;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
  z-index: 1;

  background-position: center top;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: local;
}

.mainArea::-webkit-scrollbar {
  display: none;
}

.rootShadow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 13;
  transition: all 0.4s linear;

  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.shadowActive {
  @media (max-width: 1360px) {
    background: rgba(0, 0, 0, 0.4);
    pointer-events: unset;
  }
}
