.container {
  padding: 48px 143px 0 46px;
}

.headerTitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
}

.text {
  margin-top: 24px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #fff;

  white-space: pre-line;
}
