.container {
  padding: 0 100px 150px 46px;

  @media (max-width: 1024px) {
    padding: 48px;
  }
  @media (max-width: 600px) {
    padding: 32px;
  }
  @media (max-width: 420px) {
    padding: 24px;
  }
}

.headerTitle {
  margin-top: 48px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: #fff;

  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.headerSubtitle {
  margin-top: 48px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #fff;

  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.text {
  margin-top: 24px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #fff;

  white-space: pre-line;

  @media (max-width: 600px) {
    font-size: 14px;
    line-height: 18px;
  }
}
